.skills-wrapper {
  padding-top: 100px;

  @media screen and (max-width: 768px) {
    padding-top: 50px;
  }

  .skills-logos {
    margin: 30px auto;
    opacity: 0.3;
    display: flex;
    justify-content: center;
    svg {
      margin: 0 10px;
      @media screen and (max-width: 768px) {
        width: 35px;
        margin: 0 5px;
      }
    }

    @media screen and (max-width: 768px) {
      justify-content: center;
    }

    .inner {
      @media screen and (max-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
      }
    }
  }

  .current-stack-wrapper {
    text-align: center;

    .stack-wrapper-title {
      width: 35%;
      line-height: 1.5;
      margin: 0 auto;
      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }

    .tree {
      position: relative;
      width: 12px;
      height: 12px;
      border-radius: 6px;
      background-color: var(--text);
      margin: 15px auto 0 auto;
      &::before {
        content: '';
        position: absolute;
        width: 4px;
        height: 50px;
        background-color: inherit;
        top: 12px;
        right: calc((12px - 4px) / 2);
      }
    }

    .stack-cards-wrapper {
      display: flex;
      margin-top: 100px;
      justify-content: center;
      @media screen and (max-width: 992px) {
        flex-wrap: wrap;
        margin-top: 50px;
      }
      .stack-card {
        width: calc(100% / 3);
        background-color: #e1e1e1;
        color: #111;
        margin-right: 30px;
        border-radius: 25px;
        position: relative;
        padding: 30px 50px;

        &::before {
          content: '';
          position: absolute;
          width: 4px;
          height: 50px;
          background-color: #111;
          top: -50px;
          left: 50%;
        }

        &::after {
          content: '';
          position: absolute;
          height: 4px;
          width: calc(50% + 15px);
          background-color: #111;
          top: -50px;
          left: 50%;
        }

        @media screen and (max-width: 992px) {
          width: 100%;
          margin-right: 0;
          font-size: 14px;

          &::after {
            display: none;
          }

          &::before {
            left: calc(50% - 2px);
          }
        }

        .stack-title {
          font-size: 1.5rem;
          font-weight: 900;
        }

        ul {
          text-align: left;
          margin-top: 15px;
          li {
            line-height: 2;
          }
        }
      }
      .stack-card.dark {
        background-color: #111;
        color: #eee;
        margin-right: 0;

        @media screen and (max-width: 992px) {
          margin-top: 50px;
        }

        &::after {
          left: -15px;
        }
      }
    }
  }
}
