---
import BaseHead from '../components/BaseHead.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body>
    <main>
      <h1>Hello World</h1>
      <a href="/blog">Blog</a>
    </main>
  </body>
</html>
