.footer-wrapper {
  background-color: var(--text);
  color: var(--background);
  padding: 50px 0;
  text-align: center;

  .top-button {
    text-decoration: underline;
    margin-bottom: 5px;
    display: inline-block;
    cursor: pointer;
  }

  .heart {
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      margin-left: 5px;
    }
  }
}
